.web{
    display: flex;
    align-items: center;
}

.picture {
    width: 70%;
    object-fit: cover;
  }

  .name{
    font-weight: bold;
    font-size: 35px;
    
  }
  .content{
    text-align:left;
    width: 50%;
    height: 50%;
    font-size: 20px;
    margin: 30px;
  }

  .link{
    color: blue;
  }
  .visited{
    color: red;
  }

.cre{
    margin-left: 70%;
    font-size: 20px;
}